    <footer>
      <div class="fullWidth container py-4">
        <div
          class="footerInner d-flex justify-content-start align-items-center"
        >
          <p class="footerlinks">
            <strong><span>&#169;</span> 2017-2022</strong><br /><a
              href="/"
              >Raymond Thomas</a
            >
          </p>
          <p class="footerlinks ps-5">
            <strong>Social</strong><br />
            <a href="https://github.com/RayLThomas" target="_blank">Github</a><br />
            <a href="https://www.linkedin.com/in/raythomasii/" target="_blank">LinkedIn</a><br />
            
          </p>
          <p class="footerlinks"></p>
        </div>
      </div>
    </footer>