<header
      class="container d-flex align-items-center justify-space-between py-5 mb-4"
    >
      <ul class="nav col-12 mb-2 mb-md-0">
        <li class="pe-3">
          <a href="/" class="nav-link pl-0"
            ><span class="fw-bold pe-1">01</span>home</a
          >
        </li>
        <li class="pe-3">
          <a href="/blog/" class="nav-link pl-0"
            ><span class="fw-bold pe-1">02</span>blog</a
          >
        </li>
        <li class="pe-3">
          <a href="/code/" class="nav-link pl-0"
            ><span class="fw-bold pe-1">03</span>code</a
          >
        </li>
        <li class="pe-3">
          <a href="/bio/" class="nav-link pl-0"
            ><span class="fw-bold pe-1">04</span>bio</a
          >
        </li>
      </ul>
    </header>