---
  title: Bio
  layout: 'base.njk'
---
    <main class="py-5">
      <header class="container pb-5 pt-3">
        <h1 class="text-center">Hey there.</h1>
      </header>
      <div class="containter-fluid py-5">
        
        <div class="row">
          <div class="col-12 col-lg-5 bioImage"></div>
          <div class="col-12 col-lg-7 d-flex align-items-center">
            <p class="fs-3 p-5">
              I'm Raymond Thomas, a remote web specialist based out of East
              Tennessee.<br />
              I've been coding for 5 years, working with many different kinds of
              people, tech, and industries.<br />
              Today, I focus on JavaScript and data integration.
            </p>
          </div>
        </div>
      </div>
      <div class="aboutContent container">
        <ol
          class="d-flex flex-column align-items-center container col-sm-12 col-lg-7"
        >
          <li class="postEntry py-4">
            <h2 class="postTitle">Work</h2>
            <p class="fs-4">
              I work at <a href="https://www.lyntonweb.com">Lynton</a>, a
              HubSpot Elite Partner that specializes in web marketing and data
              integration.
            </p>
          </li>
          <li class="postEntry py-4">
            <h2 class="postTitle">Code</h2>
            <p class="fs-4">
              My favorite stack is the MERN stack. <br />
              I started as a front-developer and soon transitioned to back-end
              after finding it was my passion.
              <br />
              Check out my <a href="/code/">code</a> to see some of my work.
            </p>
          </li>
          <li class="postEntry py-4">
            <h2 class="postTitle">Offline</h2>
            <p class="fs-4">
              When I'm not coding, I enjoy being with my family and exploring
              the Appalachian Mountains.
            </p>
          </li>
        </ol>
      </div>
    </main>